wheel==0.46.3
termcolor==3.3.0
schedule==1.2.2
croniter==3.0.0
requests==2.32.5
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
soundfile==0.13.1
prettytable==3.17.0
webdriver-manager==4.0.2
selenium-firefox==2.0.8
selenium==4.9.1
moviepy==1.0.3
Pillow==9.5.0
yagmail==0.15.293
faster-whisper==1.2.1
srt_equalizer==0.1.12
undetected-chromedriver==3.5.5
platformdirs==4.9.4
sqlalchemy[asyncio]>=2.0.48
PyYAML>=6.0.3
fastapi>=0.135.1
uvicorn>=0.41.0
aiosqlite>=0.22.1
stable-ts==2.19.1